@import "./general";

/* Estilos del footer */
footer
{
    padding-top: 28px;
    padding-bottom: 30px;
    text-align: center;
    background-color: #F7F7F7; 
}

.footer__rights
{
    margin: 0;
    color: #545454;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
}

.footer__m {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto';
    font-style: normal;
    color: #545454;
    font-weight: 400;
    font-size: 14px;
}

.dev {
    margin: 0;
}

.icon--footer
{
    width: 14px;
    height: 12.88px;
    margin: 0 10px;
}

.by {
    margin: 0;
}

#open-modal
{
    color: #545454;
    text-decoration: underline;
    cursor: pointer;
}

@media screen and (min-width: 650px)
{
    footer {
        padding-bottom: 35px;
        display: flex;
        justify-content: center;
        align-items: baseline;
    }

    .footer__rights {
        margin-right: 4px;
        width: max-content;
        font-size: 16px;
        
    }

    .footer__m {
        font-size: 16px;
        width: max-content;
    }
}



/* Estilos de la ventana modal */
#modal-container
{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.637);
    display: none;
    justify-content: center;
    align-items: center;
}



#modal
{
    background-color: #141418f0;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 600px;
    height: auto;
    padding: 5%;
    position: relative;
    text-align: center;
}

.cleanls {
    cursor: pointer;
}

@media screen and (max-width: 600px)
{
    #modal
    {
        padding: 2%;
    }
}

/* Estilos para el botón cerrar */
#close-modal
{
    position: absolute;
    background-color: transparent;
    color: $orange;
    border-radius: 100%;
    top: 10px;
    right: 10px;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    border: none;
}

.modal-container__title
{
    font-family: 'Roboto';
    font-size: 30px;
    text-transform: uppercase;
    color: $orange;
    text-align: center;
}

.modal-container__list
{
    color: $orange;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 15px;
    padding: 30px 60px;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 20px;
}

@media screen and (max-width: 600px)
{
    .modal-container__list
    {
        padding: 20px;
        font-size: 16px;
    }
}